body {
    font-family: 'Days One', sans-serif;
    background-color: black;
    margin: 0%;
}
img {
    max-width:100%;
    height: auto;
}
hr {
    
    margin: auto;
    color: red;
    size: 1px;
}
.heroverse {
    width: 216px;
    padding-top: 12px;
height: 52px;
flex-shrink: 0;
justify-content: center;
margin: auto;

}
header {

    background: #3C3B6E;
box-shadow: 0px 4px 10px 0px rgba(30, 30, 30, 0.90);
width: 1440px;

margin: 0;
height: 192px;

flex-shrink: 0;

}
header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: white;
    text-decoration: underline;
}

header {
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
    margin: 0%;
}

header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    
}

header nav ul {
    margin:0;
    padding: 0;
    padding-top: 38px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
hr {
    width:auto;
    
    margin-top: 20px;
}